<!DOCTYPE html>
<html lang='en'>{% load static %}
	<head>
		<meta charset="utf-8">
		<title>Fast Paste</title>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href="{% static 'dist/semantic.min.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="ui masthead vertical segment">
			<div class="ui text container">
				<h1><i class="large sticky note outline icon"></i>fastPaste</h1>
			</div>
		</div>
		<div class="ui text container">
			<div class="ui basic segment">
				<form class="ui form" method="post" action="/clipboard/save/">
					<div class="ui header">剪贴板 {{ clipboard.hash_str }}</div>
					<div class="field">
						<textarea type="text" name="content" placeholder="空空如也">{% if clipboard.content %}{{ clipboard.content }}{% endif %}</textarea>
					</div>
					<input type="hidden" name="id" value="{{ clipboard.hash_str }}"></input>
					<div class="ui teal button">保存</div>
					<a class="ui button" href="/">返回主页</a>
				</form>
			</div>
		</div>
	</body>
</html>
