<!DOCTYPE html>
<html lang='en'>{% load static %}
	<head>
		<meta charset="utf-8">
		<title>Fast Paste</title>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<link href="{% static 'dist/semantic.min.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	</head>
	<body>
		<div class="ui masthead vertical segment">
			<div class="ui text container">
				<div class="ui large header" style="display:inline-block;margin-bottom:0;">
					<i class="sticky note outline icon" ></i>
					<div class="content">fastPaste</div>
				</div>
			</div>
		</div>
		<div class="ui text container">
			<div class="ui basic segment">
				<h3 class="ui block header">
					剪贴板 {{ clipboard.hash_str }}
				</h3>
				<form id="clipboard" class="ui form" method="post" action="/clipboard/{{ clipboard.hash_str }}">{% csrf_token %}
					<div class="field">
						{% verbatim %}
						<textarea type="text" name="content" placeholder="空空如也" v-model="content"></textarea>
						{% endverbatim %}
					</div>
					<input type="hidden" name="id" value="{{ clipboard.hash_str }}"></input>
					{% verbatim %}
					<div id="submit_button" class="ui teal button" v-bind:class="{loading : is_loading}">{{ button_content }}</div>
					{% endverbatim %}
					<a class="ui button" href="/">返回主页</a>
				</form>
				<script>
					var clipboard = new Vue({
						el: '#clipboard',
						data: {
							content: '',
							button_content: '保存',
							is_loading: false,
						}
					});
					$.get(
						'/clipboard/get/{{ clipboard.hash_str }}',
						function(data) {
							clipboard.content = data.content;
						}
					);
					$('#submit_button').on('click', function() {
						clipboard.is_loading = true;
						$.post(
							'/clipboard/post/',
							{
								hash_str : {{ clipboard.hash_str }},
								content : clipboard.content,
								csrfmiddlewaretoken : $('input[name="csrfmiddlewaretoken"]').val(),
							},
							function(data) {
								if(data.status == 'success') {
									clipboard.button_content = '保存成功';
									clipboard.is_loading = false;
								}
								else {
									alert('failed');
								}
							}
						);
					});
				</script>
			</div>
		</div>
	</body>
</html>
