<!DOCTYPE html>
<html lang='en'>{% load static %}
	<head>
		<meta charset="utf-8">
		<title>gotoPaste</title>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link href="{% static 'dist/semantic.min.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<style>
			.button {
				margin-bottom: 10.5px!important;
			}
			.buttons {
				margin-right: 3.5px!important;
			}
		</style>
	</head>
	<body>
		<div class="ui masthead vertical segment">
			<div class="ui text container">
				<a class="ui large header" style="display:inline-block;margin-bottom:0;" href="/">
					<i class="sticky note outline icon" ></i>
					<div class="content">gotoPaste</div>
				</a>
			</div>
		</div>
		<div class="ui text container">
			<div class="ui basic segment">
				<div class="ui message" id="message" v-bind:class="{warning: timeout}">
					<h3 class="ui header">
						剪贴板 {{ clipboard.hash_str }}
						{% verbatim %}
						<div class="sub header"><div v-if="timeout">此剪贴板已经失效</div><div v-else>还有{{ lefttime }}秒失效</div></div>
						{% endverbatim %}
					</h3>
				</div>
				<form id="clipboard" class="ui form" method="post" action="/clipboard/{{ clipboard.hash_str }}">{% csrf_token %}
					<div class="field">
						{% verbatim %}
						<textarea type="text" name="content" placeholder="空空如也" v-model="content"></textarea>
						{% endverbatim %}
					</div>
					<input type="hidden" name="id" value="{{ clipboard.hash_str }}"></input>
					{% verbatim %}
					<div class="ui buttons">
						<div class="ui button" v-on:click='add_time(600)' v-bind:class="{ loading: btn10 }">{{ btn10content }}</div>
						<div class="ui button" v-on:click='add_time(3600)' v-bind:class="{ loading: btn60 }">{{ btn60content }}</div>
					</div>
					<div id="submit_button" class="ui teal button" v-bind:class="{loading : is_loading, disabled : timeout}">{{ button_content }}</div>
					{% endverbatim %}
					<a class="ui button" href="/">返回主页</a>
				</form>
				<script>
					var message;
					var clipboard = new Vue({
						el: '#clipboard',
						data: {
							content: '',
							button_content: '保存',
							is_loading: false,
							timeout: false,
							btn10: false,
							btn60: false,
							btn10content: '+10分钟',
							btn60content: '+60分钟',
							mesg: '',
						},
						methods: {
							add_time: function(val) {
								if(val == 600) {
									this.btn10 = true;
								}
								else if(val == 3600) {
									this.btn60 = true;
								}
								$.post(
									'/clipboard/addmaxscope/',
									{
										hash_str : {{ clipboard.hash_str }},
										add_time : val,
										csrfmiddlewaretoken : $('input[name="csrfmiddlewaretoken"]').val(),
									},
									function(data) {
										if(data.status == 'success') {
											message.lefttime += data.add_time;
											clipboard.mesg = "成功";
										}
										else if(data.info == "max"){
											clipboard.mesg = '到达上限';
										}
										else {
											alert('出现了未知错误');
										}
										if(val == 600) {
											clipboard.btn10 = false;
											clipboard.btn10content = clipboard.mesg;
											setTimeout(
												function() {
													clipboard.btn10content = '+10分钟';
												},
												2000
											);
										}
										else if(val == 3600) {
											clipboard.btn60 = false;
											clipboard.btn60content = clipboard.mesg;
											setTimeout(
												function() {
													clipboard.btn60content = '+60分钟';
												},
												2000
											);
										}
									}
								);
							},
						}
					});
					var message = new Vue({
						el: '#message',
						data: {
							lefttime: {{ lefttime}},
							timeout: false,
						}
					});
					function change_time() {
						if(message.lefttime > 0) {
							message.lefttime--;
						}
						else {
							message.timeout = true;
							clipboard.timeout = true;
						}
					}
					setInterval(change_time, 1000)
					$.get(
						'/clipboard/get/{{ clipboard.hash_str }}',
						function(data) {
							clipboard.content = data.content;
						}
					);
					$('#submit_button').on('click', function() {
						clipboard.is_loading = true;
						$.post(
							'/clipboard/post/',
							{
								hash_str : {{ clipboard.hash_str }},
								content : clipboard.content,
								csrfmiddlewaretoken : $('input[name="csrfmiddlewaretoken"]').val(),
							},
							function(data) {
								if(data.status == 'success') {
									clipboard.button_content = '保存成功';
									clipboard.is_loading = false;
								}
								else {
									alert('保存出错');
								}
							}
						);
					});
				</script>
			</div>
		</div>
	</body>
</html>
