<!DOCTYPE html>
<html lang='en'> {% load static %}
	<head>
		<meta charset="utf-8">
		<title>Fast Paste</title>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href="{% static 'dist/semantic.min.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="ui masthead vertical segment">
			<div class="ui text container">
				<h1><i class="large sticky note outline icon"></i>fastPaste</h1>
			</div>
		</div>
		<div class="ui text container">
			<form class="ui center aligned basic segment" method="get" action="/clipboard/get/">
				<div class="ui left icon action input">
					<i class="search icon"></i>
					<input type="text" name="hash_str" placeholder="输入剪贴板编号">
					<button class="ui blue submit button" type="submit">查询</button>
				</div>
				<div class="ui horizontal divider">
					或者
				</div>
				<a class="ui teal labeled icon button" href="/clipboard/new/">
					创建新的剪贴板
					<i class="add icon"></i>
				</a>
				<div class="ui horizontal divider">
					再或者
				</div>
				<a class="ui button" href="/guide/">
					查看使用指南
				</a>
			</form>
		</div>
		<script>
			$('#toboard').on('click', function() {
				$('#boardform').submit();
			});
		</script>
	</body>
</html>
