<!DOCTYPE html>
<html lang='en'> {% load static %}
	<head>
		<meta charset="utf-8">
		<title>gotoPaste</title>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link href="{% static 'dist/semantic.min.css' %}" rel="stylesheet">
		<script src="{% static 'dist/components/dimmer.min.js' %}"></script>
		<script src="{% static 'dist/components/modal.min.js' %}"></script>
		<script src="{% static 'dist/components/transition.min.js' %}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	</head>
	<body>
		<div class="ui masthead vertical segment">
			<div class="ui text container">
				<a class="ui large header" style="display:inline-block;margin-bottom:0;" href="/">
					<i class="sticky note outline icon" ></i>
					<div class="content">gotoPaste</div>
				</a>
			</div>
		</div>
		<div class="ui text container">
			<form class="ui center aligned basic segment" method="get" action="/clipboard/">
				{% if hash_str %}
				<div class="ui info message">你刚才访问的是<a href="/clipboard/{{ hash_str }}"> 剪贴板 {{ hash_str }}</a></div>
				{% endif %}
				<div class="ui left icon action input">
					<i class="search icon"></i>
					<input type="text" name="hash_str" placeholder="输入剪贴板编号">
					<button class="ui blue submit button" type="submit">查询</button>
				</div>
				<div class="ui horizontal divider">
					或者
				</div>
				<a class="ui teal labeled icon button" href="/clipboard/new/">
					创建新的剪贴板
					<i class="add icon"></i>
				</a>
				<div class="ui horizontal divider">
					再或者
				</div>
				{% verbatim %}
				<div id="guidebtn" class="ui button" v-on:click="change_status">
					{{ mesg }} gotoPaste 使用指南
				</div>
				{% endverbatim %}
			</form>
			<div class="ui basic segment" id="guide" v-if="show">
				<div class="ui left message">
					<div class="header">使用指南</div>
					<p>gotoPaste 是一个方便传递文本信息的工具，免除数据线或登录操作的步骤</p>
					<ul class="list">
						<li>你可以创建新的剪贴板</li>
						<li>你可以使用编号查询存在的剪贴板</li>
						<li>可以增加时间，但增加总时长最多两小时</li>
						<li>从剪贴板返回时，主页会显示刚才访问的剪贴板编号</li>
					</ul>
				</div>
				<div class="ui warning message">
					<div class="header">警告</div>
					<ul class="list">
						<li>每个剪贴板只存在 5 分钟</li>
						<li>不要用剪贴板来保存重要信息</li>
						<li>最好记下你的编号，说不定你就忘了</li>
					</ul>
				</div>
			</div>
			<div class="ui section divider"></div>
			<div class="ui center aligned basic segment">
				<div class="ui horizontal list">
					<a class="item">
						Author : 07akioni
					</a>
					<a class="item">
						Wechat : physicsturtle
					</a>
				</div>
				<div class="ui list">
					<a class="item" id="donate">
						捐助一大杯酸梅汤
					</a>
				</div>
			</div>
		</div>
		<div class="ui basic modal">
			<i class="close icon"></i>
			<div class="image content">
				<div class="ui medium image" style="margin-left:auto;margin-right:auto;">
					<img src="{% static 'zfb.jpg' %}">
				</div>
			</div>
		</div>
		<script>
			$('#toboard').on('click', function() {
				$('#boardform').submit();
			});
			var guide = new Vue({
				el: '#guide',
				data: {
					show: false,
				}
			});
			var guidebtn = new Vue({
				el: '#guidebtn',
				data: {
					close: '查看',
					open: '关闭',
					open_status: false,
					mesg: '查看',
				},
				methods: {
					change_status: function(event) {
						if(this.open_status) {
							this.mesg = this.close;
						}
						else {
							this.mesg = this.open;
						}
						this.open_status = !this.open_status;
						guide.show = !guide.show;
					}
				}
			});
			$('.ui.modal').modal();
			$('#donate').on('click', function() {
				$('.ui.modal').modal('show');
			});
		</script>
	</body>
</html>
