<!DOCTYPE html>
<html lang='en'>{% load static %}
	<head>
		<meta charset="utf-8">
		<title>gotoPaste</title>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link href="{% static 'dist/semantic.min.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	</head>
	<body>
		<div class="ui masthead vertical segment">
			<div class="ui text container">
				<a class="ui large header" style="display:inline-block;margin-bottom:0;" href="/">
					<i class="sticky note outline icon" ></i>
					<div class="content">gotoPaste
						<div class="sub header">在不同设备上快速的复制粘贴</div>
					</div>
				</a>
			</div>
		</div>
		<div class="ui text container">
			<div class="ui basic segment">
				{% if not error_mesg %}
				<div class="ui warning message">
					<h3 class="ui header">
						未找到 剪贴板 {{ hash_str }}
					</h3>
				</div>
				{% endif %}
				{% if error_mesg %}
				<div class="ui warning message">
					<h3 class="ui header">
						{{ error_mesg }}
					</h3>
				</div>
				{% endif %}
				<a class="ui button" href="/">返回主页</a>
			</div>
		</div>
	</body>
</html>
